@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,500");
.section_1 {
  background-origin: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.artista_info .albuns .panel {
  border: none;
  background-color: transparent;
  border-color: transparent; }

* {
  font-family: "Fira Sans", sans-serif; }
  * a {
    color: inherit; }
    * a:hover {
      color: inherit;
      text-decoration: none; }

.section_title {
  color: #2f2f2f;
  margin: 50px 0;
  max-height: 196px; }
  .section_title span {
    color: #d51007; }

header .navbar-brand .logo, footer .navbar-brand .logo {
  height: 30px; }

header .navbar-default {
  background: transparent;
  border-color: transparent;
  margin-bottom: 0; }

header .menu-principal {
  position: absolute;
  background: #FFF;
  width: 100%;
  margin-left: 0;
  left: 0;
  z-index: 500; }

header .navbar-right form input.form-control {
  border-top: 2px solid #d51007;
  border-right: 2px solid #d51007;
  border-bottom: 2px solid #d51007;
  border-left: 0 solid #d51007;
  color: #d51007;
  border-radius: 0 20px 20px 0; }
  header .navbar-right form input.form-control:focus {
    background-color: transparent;
    box-shadow: none; }
  header .navbar-right form input.form-control::-webkit-input-placeholder {
    font-weight: 500;
    color: #d51007; }
  header .navbar-right form input.form-control:-moz-placeholder {
    font-weight: 500;
    color: #d51007; }
  header .navbar-right form input.form-control::-moz-placeholder {
    font-weight: 500;
    color: #d51007; }
  header .navbar-right form input.form-control:-ms-input-placeholder {
    font-weight: 500;
    color: #d51007; }

header .navbar-right .input-group-addon {
  border-top: 2px solid #d51007;
  border-right: 0 solid #d51007;
  border-bottom: 2px solid #d51007;
  border-left: 2px solid #d51007;
  border-radius: 20px 0 0 20px;
  background: transparent;
  color: #d51007;
  font-size: 16px; }

.section_1 {
  background-color: #2f2f2f; }
  .section_1.home_hero {
    max-height: 692px;
    background-image: url(../img/bg_hero.jpg); }
    .section_1.home_hero .jumbotron {
      margin: 210px 0; }
  .section_1.hero_artista .img-responsive {
    display: inline-block;
    border-radius: 170px;
    border: 2px solid #d51007;
    padding: 20px; }
  .section_1 .jumbotron {
    color: #FFF;
    background: transparent; }

.section_2 .col-md-6, .section_2 .col-md-4 {
  padding: 0; }

.section_2 .row:nth-child(2) {
  padding: 0 15px; }

.section_2 .panel {
  border: none;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  padding-top: 150px; }
  .section_2 .panel .panel-body {
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.5); }
  .section_2 .panel h2, .section_2 .panel h3 {
    color: #FFF; }
  .section_2 .panel h2 {
    font-weight: 500; }
  .section_2 .panel h3 {
    font-weight: 300; }

.section_3 {
  background-color: #000;
  color: #FFF;
  padding-bottom: 50px; }
  .section_3 .thumb_toptracks img {
    border-radius: 32px; }
  .section_3 .thumb_toptracks .media {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-top: 10px;
    padding-bottom: 4px;
    box-sizing: border-box; }
  .section_3 .section_title {
    color: #FFF; }
  .section_3 .carousel-indicators {
    top: 20px;
    bottom: 0; }
    .section_3 .carousel-indicators a {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      border-radius: 10px; }
      .section_3 .carousel-indicators a.active {
        background-color: #FFF; }

.artista_info .faixas .list-group .list-group-item {
  border: none;
  padding: 10px 0; }

.artista_info .faixas .panel, .artista_info .faixas .panel-default {
  border-color: transparent; }

.artista_info .faixas tr th, .artista_info .faixas tr td {
  border-top: transparent; }

.artista_info .albuns .panel {
  margin-bottom: 0;
  border-radius: 0;
  padding: 0;
  height: 175px;
  position: relative; }
  .artista_info .albuns .panel:first-child {
    height: 350px; }
  .artista_info .albuns .panel .panel-body {
    position: absolute;
    bottom: 0; }
    .artista_info .albuns .panel .panel-body h3, .artista_info .albuns .panel .panel-body h4 {
      color: #FFF; }
    .artista_info .albuns .panel .panel-body h3 {
      font-size: 19.2px; }
    .artista_info .albuns .panel .panel-body h4 {
      font-size: 12.8px; }
  .artista_info .albuns .panel .overlay-filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #2f2f2f); }

.artistas_parecidos .row:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px; }

.artistas_parecidos .artista_similares_box {
  position: relative;
  width: 12.5%;
  height: 34%; }
  .artistas_parecidos .artista_similares_box h4 {
    color: #FFF;
    position: absolute;
    bottom: 0; }

footer .navbar-default {
  background-color: transparent;
  border-color: transparent; }
  footer .navbar-default > .container-fluid {
    padding-left: 0;
    padding-right: 0; }
