%background_image_cover{
    background-origin: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
%panel_transparent {
    border:none;
    background-color: transparent;
    border-color: transparent;
}