@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500');
@import 'variables';
@import 'placeholders';
@import 'mixins';

* {
    font-family: $fira_sans;
    a{
        color:inherit;
        &:hover{
            color:inherit;
            text-decoration: none;
        }
    }
}
.section_title{
        color: $cinza;
        margin: 50px 0;
        max-height: 196px;
        span {
            color: $vermelho;
        }
}

header, footer {
    .navbar-brand{
        .logo{
            height: 30px;
        }
    }
}
header {
   .navbar-default {
    background: transparent;
    border-color: transparent;
    margin-bottom: 0;
   }
   .navbar-right{
        form{
            input.form-control{
                @include borders(2px, 2px, 2px, 0, $vermelho);
                color: $vermelho;  
                border-radius: 0 20px 20px 0;
                &:focus{
                    background-color: transparent;
                    box-shadow: none;
                } 
                @include placeholder($vermelho);
            }
        }
        .input-group-addon{
            @include borders(2px, 0, 2px, 2px, $vermelho);
            border-radius: 20px 0 0 20px;
            background: transparent;
            color: $vermelho;
            font-size: 16px;
        }
   }
}

.section_1 {
    @extend %background_image_cover;
    
    background-color: $cinza;
    &.home_hero{
        max-height: 692px;
        background-image: url(../img/bg_hero.jpg);
        .jumbotron {
            margin: 210px 0;
        }
    }
    &.hero_artista {
        .img-responsive {
            display: inline-block;
            border-radius: 170px;
            border: 2px solid $vermelho;
            padding: 20px;
        }
    }
    .jumbotron {
        color: $branco;
        background: transparent;
    }
}

.section_2 {
    .col-md-6, .col-md-4 {
        padding: 0;
    }
    .row:nth-child(2){
        padding: 0 15px;
    }
    .panel {
        border:none;
        background-color: transparent;
        border-color: transparent;
        margin-bottom: 0;
        padding-top: 150px;
        .panel-body{
            padding: 0 15px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        h2, h3 {
            color: $branco;
        }
        h2 {
            font-weight: 500;
        }
        h3 {
            font-weight: 300;
        }
    }
}

.section_3 {
    background-color: $preto;
    color: $branco;
    padding-bottom: 50px;
    .thumb_toptracks {
        img {
            border-radius: 32px;
        }
        .media{
            border-top: 1px solid $branco;
            border-bottom: 1px solid $branco;
            padding-top: 10px;
            padding-bottom: 4px;
            box-sizing: border-box;
        }
    }
    .section_title{
        color: $branco;
    }
    .carousel-indicators {
        top: 20px;
        bottom: 0;
        a {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: rgba(0,0,0,0);
            border: 1px solid #fff;
            border-radius: 10px;
            &.active {
                background-color: $branco;
            }
        }
    }
}

.artista_info {
    .faixas{
        .list-group {
            .list-group-item {
                border: none;
                padding: 10px 0;
            }
        }
    }

    .albuns {
        
        .panel {
            @extend %panel_transparent;
            margin-bottom: 0;
            border-radius:0;
            padding: 0;
            height: $altura_capa;
            position: relative;
            &:first-child{
                height: $altura_capa * 2;
            }       
            .panel-body {
                position: absolute;
                bottom: 0;
                h3, h4 {
                    color: $branco;
                    
                }
                h3 {
                    font-size: $tamanho_max * 0.3;
                }
                h4 {
                    font-size: $tamanho_max * 0.2;
                }
            }
            .overlay-filtro {
                position: absolute;
                width:100%;
                height: 100%;
                background: $grandiente_capas;
            }
            
        }
    }
}

.artistas_parecidos {
    .row{
        &:nth-child(2){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .artista_similares_box {
        position: relative;
        width: 12.5%;
        height: 34%;
        h4 {
            color: $branco;
            position: absolute;
            bottom: 0;
        }
    }
}

footer {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        > .container-fluid {
            padding-left:0;
            padding-right:0;
        }
    }
}