//Fontes
$fira_sans: 'Fira Sans', sans-serif;
$tamanho_max: 64px;

//Cores
$branco: #FFF;
$cinza: #2f2f2f;
$vermelho: #d51007;
$preto: #000;
//Gradiente
$grandiente_capas: linear-gradient(transparent, $cinza);


//alturas
$altura_capa: 175px;
