<div class="container-fluid section_3">
    <div class="row">
        <div class="col-md-12">
                <h2 class="text-uppercase text-center section_title"><span>Musicas</span> mais Escutadas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 thumb_toptracks" ng-repeat="musica in toptracks.toptracks">
            <div class="media">
                <div class="media-left">
                    <a href="artista/{{musica.name }}">
                        <img src="{{ musica.image[1]['#text'] }}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ musica.name }}</h4>
                    <h3>{{ musica.artist.name }}</h3>
                </div>
            </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="carousel-indicators">
                <li class="active"><a ng-click="toptracks.selecionado()"></a></li>
                <li><a ng-model="" ng-click=""></a></li>
                <li><a ng-click="resultado(3)"><a/></li>
            </ol>
        </div>
    </div>
</div>