<div class="container-fluid section_3">
    <div class="row">
        <div class="col-md-12">
                <h2 class="text-uppercase text-center section_title"><span>Musicas</span> mais Escutadas</h2>
        </div>
    </div>
    <div class="row">
        <div ng-model="range = 3" class="col-md-4 thumb_toptracks" ng-repeat="musica in toptracks.toptracks | limitTo: range | limitTo: -3">
            <div class="media">
                <div class="media-left">
                    <a href="artista/{{musica.name }}">
                        <img src="{{ musica.image[1]['#text'] }}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ musica.name }}</h4>
                    <h3>{{ musica.artist.name }}</h3>
                </div>
            </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel-indicators" ng-model="indicator = 1">
                <a ng-class="indicator = 1 ? 'active' : ''" ng-click="range = 3; indicator = 1"></a>
                <a ng-class="indicator = 2 ? 'active' : ''" ng-click="range = 6; indicator = 2"></a>
                <a ng-class="indicator = 3 ? 'active' : ''" ng-click="range = 9; indicator = 3"><a/>
            </div>
        </div>
        {{ indicator }}
    </div>
</div>