<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <h2 class="text-uppercase text-center section_title"><span>Musicas</span> mais Escutadas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="musica in toptracks.toptracks">
            <img src="{{ musica.image[1]['#text'] }}" alt="">
            <h2>{{ musica.name }}</h2>
            <h3>{{ musica.artist.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
        <div class="col-md-12">
            <a ng-click="toptracks.resultado(1)">1</a>
            <a ng-click="toptracks.resultado(2)">2</a>
            <a ng-click="toptracks.resultado(3)">3<a/>
        </div>
    </div>
</div>